<button class="btn btn-primary" (click)="showList = !showList">Toggle List</button>
<div *ngIf="showList">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let msg of messages ; let i= index">
        Index:{{i}} - Message : {{msg}}
        </li>
    </ul>
</div>
<h4>NgSwitch</h4>
<input type="text" class="form-control" [(ngModel)]="alertType">
<div [ngSwitch]="alertType">
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
    <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
    This is default case
    </div>
</div>